.justi{
    text-align: justify !important;
}
.btnss{
  padding-top: 1.35%;
  padding-bottom: 1.35%;
 width: 20%;
 background-color: var(--bg-green-900);
}
.btnss:hover{
    background: var( --bg-hover);
}
/* description style */
.heading{
    color: var(--text-black-900);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.title{
    color: var(--text-green-700);
    font-family: 'Outfit', sans-serif;
   
}
.careers-w{
    width: 78%;
}
.solutions{
    background: var(--background);
 
}
.img {
   
    width: 70% !important;
    float: right;
    
}
#box{
    height: 20% !important;
    
}
.desc {
    font-family: 'Outfit', sans-serif;
}
/* button style */
.learn_more{
    font-family: 'Outfit', sans-serif; 
}

/* media query  */
@media screen and (max-width: 800px) {
   .data{
    justify-content: center;
    
   }
   .img{
    text-align: center;
    width: 100%;
   }
  }

  @media only screen and (max-width: 540px) {
    .img {
        margin-bottom: 10px;
        width: 100% !important;
        float: left;
    }
    .title{
        width: 110% !important;
        margin-top: 15px;
        text-align: justify !important;
        margin-left: -5%;
        font-size: 16px !important;
    }
    .desc{
        width: 110% !important;
        text-align: justify !important;
        margin-left: -5%;
        font-size: 14px !important;
    }
    .btnss{
        padding-top: 3.35%;
        padding-bottom: 3.35%;
       width: 40%;
       margin-left: -5%;
       background-color: var(--bg-green-900);
      }
      .about_button {
        width: 38% !important;
        padding-bottom: 1.5%;
    }
    .cars8{
        justify-content: none !important;
        margin-left: -35% !important;
    }
  }
  @media only screen  and (min-width: 280px) and (max-width: 320px) {
    .btnss{
       margin-left: -5%;
       font-size: 13px;
      }
  }
  @media only screen and (width: 912px) {
    .img {
        margin-bottom: 10px;
        width: 100% !important;
        float: left;
    }
    .title{
        width: 100% !important;
        margin-top: 15px;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 26px !important;
    }
    .desc{
        width: 100% !important;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 24px !important;
    }
    .btnss{
        padding-top: 3.35%;
        padding-bottom: 3.35%;
       width: 40%;
       margin-left: 0%;
       font-size: 30px;
       background-color: var(--bg-green-900);
      }
  }
  @media only screen and (width: 1024px) {
    .btnss{
        padding-top: 3.35%;
        padding-bottom: 3.35%;
       width: 40%;
       margin-left: 0%;
       font-size: 15px;
       background-color: var(--bg-green-900);
      }
}
  @media only screen and (width: 768px) {
    .img {
        margin-bottom: 10px;
        width: 100% !important;
        float: left;
    }
    .title{
        width: 100% !important;
        margin-top: 15px;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 26px !important;
    }
    .desc{
        width: 100% !important;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 24px !important;
    }
    .btnss{
        padding-top: 3.35%;
        padding-bottom: 3.35%;
       width: 40%;
       margin-left: 0%;
       font-size: 30px;
       background-color: var(--bg-green-900);
      }
  }
  @media only screen and (width: 820px) {
    .img {
        margin-bottom: 10px;
        width: 100% !important;
        float: left;
    }
    .title{
        width: 100% !important;
        margin-top: 15px;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 26px !important;
    }
    .desc{
        width: 100% !important;
        text-align: justify !important;
        margin-left: 0%;
        font-size: 24px !important;
    }
    .btnss{
        padding-top: 3.35%;
        padding-bottom: 3.35%;
       width: 40%;
       margin-left: 0%;
       font-size: 30px;
       background-color: var(--bg-green-900);
      }
  }