

.page_404{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
    margin-top: 10%;
    margin-left: 15%;
}
.page_404 img{ 
    width:100%;
}

.page_404 .four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .page_404 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .page_404 .four_zero_four_bg h3{
       font-size:80px;
       }
       
     .page_404  .link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31f1;
    margin: 20px 0;
    display: inline-block;
}
.page_404 .link_404:hover{
    background: var(--bg-hover);
}
 .page_404 .contant_box_404{
     margin-top:-50px;
    }