.about_data{
    background:var(--read-more-bg);  
}
.about_data p {
    color: var(--text-black-900); 
    background-color: var(--read_more_bg);
    text-align: justify !important;
 }
 .about_data .read_title{
     color: var(--bg-green-900);
     font-family: 'Inter', sans-serif;
     font-weight: 400;
 }
 .about_data .read_desc{
     color: var(--read_data);
     font-family: 'Outfit', sans-serif;
     width: 70%;
 }
 .about_button{    
       width: 10% !important;
       height: 10px !important;
       padding-top: -0.50%;
       padding-bottom: 4.50%;
       background-color: var(--bg-green-900) !important; 
 }
 .about_buttons{    
    width: 248% !important;
    height: 50px !important;
    background-color: var(--bg-green-900) !important; 
}
.about_button:hover,
.about_buttons:hover,
.about_buttonss:hover{
    background: var( --bg-hover);
}
.nows{
    margin-top: 15%;
}
.about_buttonss{    
    width: 140% !important;
    /* height: 60px !important; */
    padding: 15% !important;
    margin-left: 90% !important;
    background-color: var(--bg-green-900) !important; 
}
 .about_data .arrow{
  
    font-size: 36px;
    color: white;
    margin-left: 35%;

 }
 .about_data h1{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
 }
 .about_data h2{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
 }
 @media only screen and (max-width: 540px) {
.read_desc{
    width: 110% !important; 
}
.about_button {
    width: 50% !important;
    padding-bottom: 20.5%;
}
 }

 @media only screen  and (min-width: 280px) and (max-width: 320px) {
    .about_button {
        width: 54% !important;
        padding-bottom: 26.5%;
    }
 }
