.contact_us .cont{
    color: var(--text-green-700);
}

.testscol{
    color: #1c1c1c !important;
}
.cc {

border: 1px solid var(--bg-green-900);
border-radius: 23px;
}
.cc:hover{
    color: var(--bg-green-900);
}
.contact_us{
    padding: 7% !important;
}
.contact_us .des {
    color: var(--text-black-300);
    font-family: 'Outfit', sans-serif;
}
.contact_us h1{
    color: var(--text-black-700);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    
}
.maps{
    height: 300px;
}
.contact_us .f-cons{
    background-color:#ffffffd2;
    border:1px solid var(--bg-green-900);    
    height:50px;
    margin-top: 35px !important;
    font-weight: 700;
    font-size: 30px;
    border-radius:50%;
    margin-left: 10px;
    padding-top: 4% !important;
    padding-left: 12%;
    width:50px;
}
.contact_us{
    background-color: var(--bg-contact);
    font-family: 'Outfit', sans-serif;
}
.contact_us p {
    font-family: 'Outfit', sans-serif;
    font-size: 88%;
}
.contact_us .msg{
    font-family: 'Outfit', sans-serif; 
    font-size: 95%;
    
}
@media only screen and (max-width: 540px) {
.cc{
    width: 200% !important;
    margin-left: -68%;
}

.qq{
    width: 266px !important;
    margin-left: -68%;
    margin-top: 55px !important;
    border-radius: 5%;
    display: none;
}
.sk{
margin-left: -25px !important;
margin-top: -10% !important;
}
.maps{
    width: 90% !important;
}
.contact_us .f-cons {
    height: 46px;
    margin-top: 35px !important;
    font-weight: 700;
    font-size: 23px;
    border-radius: 50%;
    margin-left: 10px;
    padding-top: 2% !important;
    padding-left: 12.46%;
    width: 46px;
}
}
@media only screen and (width: 414px) {
    .contact_us .f-cons {  
        padding-left: 10.96% !important;
    }
    .maps{
        width: 100% !important;
    }
    .Hero_Page h1 {
        margin-left: -5% !important;
    }
}
@media only screen and (width: 375px) {
    .contact_us .f-cons {  
        padding-left: 13.46% !important;
    }
    .maps{
        width: 83% !important;
    }
    .Hero_Page h1 {
        margin-left: 4% !important;
    }
}
@media only screen and (width: 360px) {
    .contact_us .f-cons {  
        padding-left: 15.46% !important;
    }
    .maps{
        width: 76% !important;
    }
    .Hero_Page h1 {
        margin-left: 5% !important;
    }
}
@media only screen and (width: 412px) {
    .contact_us .f-cons {  
        padding-left: 10.96% !important;
    }
    .maps{
        width: 100% !important;
    }
    .Hero_Page h1 {
        margin-left: -4%;
    }
}

@media only screen and (width: 912px) {
    .cc{
        width: 100% !important;
        margin-left: 0%;
    }
    
    .qq{
        width: 600px !important;
        margin-left: 0%;
        margin-top: 55px !important;
        border-radius: 5%;
    }
    .sk{
    margin-left: 12px !important;
    margin-top: 2% !important;
    }
    .maps{
        width: 90% !important;
    }
    .contact_us .f-cons {
        height: 56px;
        margin-top: 35px !important;
        font-weight: 700;
        font-size: 23px;
        border-radius: 50%;
        margin-left: 10px;
        padding-top: 2% !important;
        padding-left: .46%;
        width: 56px;
    }
    .contact_us p {
        font-size: 147%;
    }
   .cont {
        font-size: 147% !important;
    }
    }

    @media only screen and (width: 820px) {
        .cc{
            width: 100% !important;
            margin-left: -6%;
        }
        
        .qq{
            width: 600px !important;
            margin-left: -14%;
            margin-top: 55px !important;
            border-radius: 5%;
        }
        .sk{
        margin-left: 12px !important;
        margin-top: 2% !important;
        }
        .maps{
            width: 90% !important;
        }
        .contact_us .f-cons {
            height: 56px;
            margin-top: 35px !important;
            font-weight: 700;
            font-size: 23px;
            border-radius: 50%;
            margin-left: 10px;
            padding-top: 2% !important;
            padding-left: .46%;
            width: 56px;
        }
        .contact_us p {
            font-size: 147%;
        }
       .cont {
            font-size: 147% !important;
        }
        }
        @media only screen  and (min-width: 280px) and (max-width: 320px) {        
            .qq{
                width: 210px !important;
            }
            .sk{
            margin-left: -10px !important;
            }
          }
        @media only screen and (width: 768px) {
            .cc{
                width: 100% !important;
                margin-left: -6%;
            }
            
            .qq{
                width: 540px !important;
                margin-left: -14%;
                margin-top: 55px !important;
                border-radius: 5%;
            }
            .sk{
            margin-left: 12px !important;
            margin-top: 2% !important;
            }
            .maps{
                width: 90% !important;
            }
            .contact_us .f-cons {
                height: 56px;
                margin-top: 35px !important;
                font-weight: 700;
                font-size: 23px;
                border-radius: 50%;
                margin-left: 10px;
                padding-top: 2% !important;
                padding-left: .46%;
                width: 56px;
            }
            .contact_us p {
                font-size: 147%;
            }
           .cont {
                font-size: 147% !important;
            }
            }
    
    
            
        