.footer_page .footer_com{
    width: 100px !important; 
    background-color: var(--line-second);
     height: 2px
}
.kweeshalogo{
    margin-top: -10px !important;
}
.footer_page .footer_comm{
    width: 100% !important; 
    background-color: var(--line-second);
     height: 2px
}
.footer_page{
    background: var(--background);
}
 .p1:hover{
  color: var(--bg-green-900) !important;
}

.icon{
    transition: transform .2s;
    
}

.icon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


@media only screen and (max-width: 540px) {
    .footer_page  .s-1{
        /* width: 53%; */
        margin-left: -30px !important;
        width: 60%;
    }
    .footer_page  .s-2{
        width: 125%;
        margin-left: -10%;
    }
    .kweeshalogo{
        width: 40% !important;
    }
    .navbar-toggler{
        margin-left: 80%;
        margin-top: -10%;
    }

}
/* footer social medial icon style */
.icon{
    transition: transform .2s;
    
}

.icon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }