.read_more{
    background-color: var(--read-more-bg);
   
}

.read_more p {
   color: var(--text-black-900); 
   background-color: var(--read_more_bg);
}
.read_more .read_title{
    color: var(--bg-green-900);
}
.read_more .read_desc{
    color: var(--read_data);
    font-family: 'Outfit', sans-serif;
}