:root{

  --bg-green-900:#4CAB65;
  --line: #dddddd;
  --forth-primary: #F5F5F5;
  --line-second: #3A4553;
  --text-black-900 : #4E555F;
  --text-black-300:  #909090;
  --text-black-700: #123151;
  --bg-hover: linear-gradient(rgba(76, 171, 101, 1), rgba(78, 85, 95, 1));
  --text-green-700:#34A853;
 --background: linear-gradient(rgba(173, 223, 185, 0.281), rgba(173, 223, 185, 0.103));
   --read_data:#161D27;
  
   /* --read-more-bg: linear-gradient(rgba(151, 194, 163, 0.562), rgba(228, 197, 197, 0.884)); */
  --text-white-700: #FFFFFF;
  --bg-contact:#F5F5F5;
   --read-more-bg: linear-gradient(rgba(151, 194, 163, 0.562), rgba(243, 238, 238, 0.651));

  
}

body{
  background-color: var(--bg-third-secondary) !important;
  
}

#style-16::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 8px;
	background-color:  #F5F5F5!important;
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F5F5F5 !important;
	background-image: -webkit-linear-gradient(top,
  var(--bg-green-900),
  var(--bg-green-900));
}
#btn-back-to-top {
  position: fixed;
  display: none;
}
html{
  scroll-behavior: smooth;
}
#progress{
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
}

#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #F5F5F5;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 900;
  color: #161D27;
}
.active {
  color: green !important;
}

@media only screen and (max-width: 540px) {
  #progress{
    bottom: 60px;
    right: 35px;
    height: 50px;
    width: 50px;
  }
  
  #progress-value{
    font-size: 20px;

  }
  .nav-link.active {
    width: 25%;
  }
}

.nav-link.active {
  color: green;
  border-bottom: 2px solid green;
  transition: border-bottom 0.3s ease-in-out;
}

